<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Sibdev test</title>
</head>
<body>
{% if messages %}
{% for message in messages %}
<div>
    <strong>{{massage|safe}}</strong>
</div>
{% endfor %}
{% else %}
{{order}}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Загрузка файла</label>
    <input type="file" name="file">
    <p>Только csv файлы</p>
    <button type="submit">Загрузить</button>
</form>
{% endif %}
<br>
<br>
///////////////////////////////////////////
<br>
<br>

<p style="text-align: left">

    <button><img src="{{ STATIC_URL }}img/top5.jpg" alt=""
                 style="vertical-align: middle"></button>
</p>

<div>
    <table>
        {% for total in high %}
        <tr>
            <td>{{ total }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>